.MuiFormControl-root{
	width: 20vw;
	.MuiOutlinedInput-input{
		padding: 10.5px 14px !important;
	}
	.MuiInputLabel-outlined{
		top: -7px;
	}
}

.dateRange{
	text-align: center;
	.DateRangePicker__CalendarSelection--is-pending{
		background-color: #FFE4D6 !important ;
		color: #333333 !important;
	}
	.DateRangePicker__Date--is-selected{
		background-color: #ffffff !important;
		color: #333333 !important;
	}
	.DateRangePicker__CalendarSelection, .DateRangePicker__CalendarHighlight--single{
		background-color: #FFE4D6 !important;
		border: 1px solid #FFE4D6 !important;
	}
	.DateRangePicker__DateLabel{
		color: #ffffff !important;
		
	}
}

.DateRangePicker{
	position: absolute !important;
	background-color: rgba(27, 26, 26, 0.87);
	z-index: 4;
	display: flex;
}
