.mapEventContainer {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
 height: 60vh;
 min-height: 400px;
}

.containerBox {

  margin-top: 4rem;

}

.dateRangeFormat{
  width: 40%;
}
.toneSlider{
  width: 35%;
}
.cusSwitch{
  width: 15%;
  padding-left: 15px;
}
.noDataAvail{
  display: flex;
  justify-content: center;
  //padding-top: 6rem;
  align-items: center;
  height: calc(30vh - 53px);
  margin: auto;
  font-size: 1rem;
}


.wrapper {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
  //padding-left: 20px;
  //justify-content: space-evenly;
  flex-wrap: wrap;
}

// Choropleth popup style
.secdev-layer-popup {
  .mapboxgl-popup-close-button {
    top: 8px;
    right: 8px;
  }
  .mapboxgl-popup-content {
    background: transparent;
    box-shadow: none;
  }
}

.mapboxgl-popup-anchor-bottom {
  &.secdev-layer-popup {
    .mapboxgl-popup-tip {
      border-top-color: transparent !important;
    }
  }
}

.mapboxgl-popup-anchor-right {
  &.secdev-layer-popup {
    .mapboxgl-popup-tip {
      border-left-color: transparent !important;
    }
  }
}

.mapboxgl-popup-anchor-left {
  &.secdev-layer-popup {
    .mapboxgl-popup-tip {
      border-right-color: transparent !important;
    }
  }
}

.mapboxgl-popup-anchor-top {
  &.secdev-layer-popup {
    .mapboxgl-popup-tip {
      border-bottom-color: transparent !important;
    }
  }
}

.poi-popup {
  &.light {
    .mapboxgl-popup-content {
      color: black;
    }
  }

  &.dark {
    .mapboxgl-popup-close-button {
      color: white;
    }
    .mapboxgl-popup-content {
      background: black;
    }

    &.mapboxgl-popup-anchor-bottom {
      .mapboxgl-popup-tip {
        border-top-color: black !important;
      }
    }

    &.mapboxgl-popup-anchor-right {
      .mapboxgl-popup-tip {
        border-left-color: black !important;
      }
    }

    &.mapboxgl-popup-anchor-left {
      .mapboxgl-popup-tip {
        border-right-color: black !important;
      }
    }

    &.mapboxgl-popup-anchor-top {
      .mapboxgl-popup-tip {
        border-bottom-color: black !important;
      }
    }
  }
}
