.MuiFormControl-root {
  width: 20vw;
  .MuiOutlinedInput-input {
    padding: 10.5px 14px !important;
  }
  .MuiInputLabel-outlined {
    top: -7px;
  }
}

.dateRange {
  text-align: center;
  .DateRangePicker__CalendarSelection--is-pending {
    background-color: #ffe4d6 !important ;
    color: #333333 !important;
  }
  .DateRangePicker__Date--is-selected {
    background-color: #ffffff !important;
    color: #333333 !important;
  }
  .DateRangePicker__CalendarSelection,
  .DateRangePicker__CalendarHighlight--single {
    background-color: #fb6a4a !important;
    border: 1px solid #ffe4d6 !important;
  }
  .DateRangePicker__DateLabel {
    color: #000 !important;
  }
  .DateRangePicker__FullDateStates {
    background-color: #fff;
  }
  .DateRangePicker__MonthHeaderLabel {
    color: grey !important;
  }
  .DateRangePicker__WeekdayHeading abbr[title] {
    color: grey !important;
  }
  .DateRangePicker {
    position: absolute !important;
    z-index: 4;
    display: flex;
    background-color: #212122;
    margin-left: 32px;
  }
}

.dateRangeLight {
  text-align: center;
  .DateRangePicker__CalendarSelection--is-pending {
    background-color: #ffe4d6 !important ;
    color: #333333 !important;
  }
  .DateRangePicker__Date--is-selected {
    background-color: #ffffff !important;
    color: #333333 !important;
  }
  .DateRangePicker__CalendarSelection,
  .DateRangePicker__CalendarHighlight--single {
    background-color: #3182bd !important;
    border: 1px solid #08519c !important;
  }
  .DateRangePicker__DateLabel {
    color: #000 !important;
  }
  .DateRangePicker__FullDateStates {
    background-color: #fff;
  }
  .DateRangePicker__MonthHeaderLabel {
    color: grey !important;
  }
  .DateRangePicker__WeekdayHeading abbr[title] {
    color: grey !important;
  }
  .DateRangePicker {
    position: absolute !important;
    z-index: 4;
    display: flex;
    background-color: #fff;
  }
}
